* {
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.card-wrapper {
  margin: 0 70px 0 70px;
}

.navbar-default {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}

.navbar-left h1 {
  font-size: 30px;
}

.navbar-right {
  display: flex;
  gap: 15px;
  align-items: center;
}

.navbar-right-button {
  width: 80px;
  height: 40px;
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  padding: 2px 2px;
}

.nrba {
  background-color: black;
  color: white;
}

/* SECTION 1 */

.home-button {
  position: fixed;
  right: 0.5%;
  bottom: 2%;
  background-color: black;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px solid white;
}
.home-button:hover {
  box-shadow: 0 0 15px black;
  scale: 1.1;
  transition: all 0.7s ease;
  rotate: 360deg;
}
.home-button a {
  margin: 0;
  font-size: 30px;
  text-decoration: none;
  height: 27px;
  color: white;
}

.section-a-element {
  margin-top: 120px;
}

.section-a-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.section-a-heading-logo-ctn {
  display: flex;
  margin-top: 50px;
  gap: 30px;
}

.section-a-heading-logo img {
  width: 50px;
  height: 50px;
}

.section-a-nextjs img {
  width: 75px;
  height: 60px;
}

.section-a-types img {
  width: 70px;
  height: 60px;
}

.section-a-heading-logo h3 {
  margin: 0 0 15px 0;
}

.section-a-heading-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-a-heading {
  width: 700px;
}

.section-a-heading h1 {
  font-size: 50px;
  margin: 0;
}

.section-a-heading h3 {
  font-size: 27px;
}

.section-a-heading h4 {
  font-size: 17px;
}

.section-a-heading p {
  font-size: 20px;
  line-height: 25px;
}

.section-a-img img {
  width: 500px;
  height: 600px;
  border-radius: 10px;
  box-shadow: 0 0 20px black;
}

/* CONTACT SECTION */

.section-about-contact {
  margin-top: 200px;
  background-color: black;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-about-contact h1 {
  color: white;
  font-size: 40px;
}

/* SECTION 2 */

.section-a-contact-heading {
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-a-contact-heading h1 {
  font-size: 50px;
  margin: 0;
}

.section-a-form-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section-a-form {
  width: 800px;
  height: 600px;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  border-radius: 10px;
  margin-top: 20px;
}

.section-a-form-fname {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-a-form-lname {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-a-form-fname h3 {
  font-size: 15px;
}

.section-a-form-lname h3 {
  font-size: 15px;
}

.section-a-form-fname input {
  border: none;
  padding: 10px 10px;
  width: 250px;
  border-radius: 10px;
}

.section-a-form-lname input {
  border: none;
  padding: 10px 10px;
  width: 250px;
  border-radius: 10px;
}

.section-a-form-email {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-a-form-email h3 {
  font-size: 15px;
}

.section-a-form-email input {
  border: none;
  padding: 10px 10px;
  width: 500px;
  border-radius: 10px;
  border: none;
}

.section-a-form-message {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-a-form-message h3 {
  font-size: 15px;
}

.section-a-textarea {
  width: 400px;
  height: 200px;
  resize: none;
  border-radius: 10px;
  padding: 5px 5px;
  border: none;
}

.section-f-wrapper {
  margin: 0 50px 0 50px;
}

.section-a-form-button-ctn {
  display: flex;
  justify-content: center;
}

.section-a-form-button-ctn button {
  width: 150px;
  height: 50px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
}

/* SECTION 3 */

.footer-f-wrapper {
  margin: 0 100px 0 100px;
}

.footer-a-container {
  background-color: black;
  height: 150px;
}

.footer-a-inner {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.footer-a-content-heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-a-content-heading h1 {
  font-size: 30px;
  margin: 0;
}

.footer-a-content-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;
}

.footer-a-content-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.footer-a-content-logo img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.footer-a-content-center {
  display: flex;
  align-items: flex-end;
}

.footer-a-content-center h3 {
  margin: 0;
  letter-spacing: 2px;
  color: white;
}

.footer-a-content-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer-a-content-right h3 {
  color: white;
  margin: 0;
}
